// Google Fonts
// https://fonts.google.com/share?selection.family=Roboto:wght@300;400;500;700
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// Core Styles
@import './styles/core';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  transition: $transition-base;
}

.btn {
  text-transform: $btn-text-transform;
}

// Containers
.container-inner-sm {
  max-width: 380px;
  margin: 0 auto;
}

// Forms
.form {
  display: grid;
  row-gap: 1rem;
  text-align: left;
}

.section {
  @each $breakpoint, $padding-y in $section-padding-y-spacers {
    @include media-breakpoint-up($breakpoint) {
      padding: $padding-y 0;
    }
  }
}
